.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #e4e4e4;
    color: #f1c365;
  }
  
  .post__image {
    width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .post__content {
    flex: 1;
  }
  
  .post__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .post__text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px; /* Adjust this value to reduce the space */
  }
  
  .image-right {
    flex-direction: row-reverse;
  }
  
  .text-right {
    text-align: right;
  }
  .post-container {
    display: flex;
    flex-direction: column;
    gap: 5px; 
  }
  
  
  